/* @override 
	http://dev.lanthimos/assets/css/lanthimos.css */

@charset "UTF-8";
@import url("reset.css")/*tpa=http://www.lanthimos.com/assets/css/reset.css*/;

* {
	position: relative;
}

html {
	-webkit-text-size-adjust: 100%;
	height: 100%;
}

body { height: 100%; margin: 0; padding: 0; }

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
  }
  
  .image {
	flex: 0 0 30%;
	margin-right: 20px;
  }
  
  .text-box {
	flex: 1;
  }

  .clustrmaps-container {
	width: 200px; /* adjust to your desired width */
	height: 200px; /* adjust to your desired height */
	justify-content: center;
  	align-items: center;
  }

  .clustrmaps-widget {
	opacity: 0;
	pointer-events: none;
  }

#push-footer {
	height: 60px;
}

/* Text Selection */
::-moz-selection {
       background-color: #ddd;
       color: #000;
}

::selection {
       background-color: #ddd;
       color: #000;
}

a {
	color: #333;
}

a:hover {
	color: #666;
}

a:active {
	color: #999;
}

p {
	margin: 1.6em auto;
	text-align: justify;
	line-height: 2em;
}

.fourohfour h1 {
	font-size: 2em;
	margin-bottom: 1em;
}

.fourohfour h2 {
	font-size: 1em;
	margin-top: 1em;
}


.hide {
	display: none;
}

/* Navigation */
.nav ul {
	list-style:none;
	padding: 0;
}

.nav li {
	display:inline;
}
.nav a {
	display:inline-block;
}

body {
	color: #333;
	font: 0.625em Georgia, "Times New Roman", Times, serif;
}

#container {
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px;
	height: auto !important;
	height: 100%;
	min-height: 100%;
	margin-bottom: -60px;
}

#header {
	margin: 0 auto;
	padding: 4em 0 2em;
}

#title {
	float: left;
	text-transform: lowercase;
	font-weight: bold;
	font-size: 1.6em;
}

#title a {
	text-decoration: none;
	padding: 4px 0;
	display: block;
}

#nav {
	float: right;
	/*text-transform: lowercase;*/
	font-size: 1.5em;
}

#nav li {
	margin-left: 1em;
}

#nav a {
	text-decoration: none;
	padding: 4px 0;
	border-bottom: 1px solid #fff;
}

#nav a:hover {
	border-color:#ccc;
}

#nav a.on {
	border-color:#333;
}

#main {
	font-size: 1.4em;
}

#hero {
	font-size: 1.4em;
}

.flexslider ul {
	list-style-type: none;
}

.flexslider li {
	display: none;
}

#hero img {
	width: 100%;
}

#hero p {
	text-align: center;
	margin: 3em 4em;
}

#footer {
	font-size: 1.2em;
	height: 60px;
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px;
}

.fourohfour .goback {
	margin-top: 1em;
	float: left;
	font-weight: bold;
	font-style: italic;
	text-transform: lowercase;
	text-decoration: none;
}

/* @group Gallery Set */

.media-gallery {
	margin-right: -20px;
	margin-left: -20px;
}

.media {
	float: left;
	margin-right: 20px;
	margin-left: 20px;
	width: 240px;
	margin-bottom: 20px;
}

.media img {
	width: 100%;
	margin-bottom: 1em;

}

.media a {
	text-decoration: none;
	display: block;
}

.media h1 {
	font-size: 1.1em;
}

.media p {
	font-style: italic;
	margin: 0;
	font-size: 0.85em;
}

/* @end */

/* @group Biography */

#filmography {
	margin-top: 3em;
}

#filmography h1 {
	font-size: 1.1em;
	text-transform: lowercase;
	font-weight: normal;
	font-style: normal;
	margin-bottom: 0.8em;
}

#filmography p {
	font-size: 0.85em;
	line-height: 1.4em;
	margin-top: 1em;
	margin-bottom: 1em;
}

#filmography h2 span {
	font-size: 0.85em;
	font-weight: normal;
	font-style: italic;
	display: inline-block;
}

#filmography h2 {
	font-size: 1.3em;
	font-style: normal;
	display: inline-block;
	margin-right: 0.5em;
	margin-top: 1.2em;
}

/* @end */

/* @group Project Page */

#video_thumb {
	cursor: pointer;
}

div.fluid-width-video-wrapper {
	display: none;
}

.inset div.fluid-width-video-wrapper {
	display: block;
}

#video_thumb .play {
	content: 'Play';
	display: block;
	width: 70px;
	height: 70px;
	text-indent: -9999px;
	overflow: hidden;
	background: url("icn-play.png")/*tpa=http://www.lanthimos.com/assets/img/icn-play.png*/ no-repeat 0 0;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -35px;
	margin-top: -35px;
}

#video_thumb:hover .play {
	background-position: -70px 0;
}

.feature img, .feature iframe {
	width: 100%;
}

.feature .film-title {
	margin-top: 3em;
	margin-bottom: 1em;
	display: inline-block;
	margin-right: 0.5em;
}

.no-feature .film-title {
	margin-top: 0;
}

.feature .film-detail {
	margin-bottom: 0;
	display: inline-block;
	font-style: italic;
	font-size: 0.85em;
}

.inset {
	margin: 0 3em;
}

.no-feature .inset {
	margin: 0;
}

.touch #video_thumb {
	display: none;
}

.touch .fluid-width-video-wrapper {
	display: block
}

/* @end */

/* @group Gallery */

#gallery {
	margin-top: 10px;
}

#gallery ul {
	list-style-type: none;
	margin-right: -6px;
	margin-left: -3px;
}

#gallery li {
	display: inline;
}

#gallery a {
	display: inline-block;
	margin-right: 6px;
	margin-bottom: 12px;
	margin-left: 6px;
}

#gallery img {
	width: 120px;
}

/* @end */

/* @group Forms */

form > div {
	margin-bottom: 1em;
}

label {
	width: 100px;
	display: block;
	text-align: right;
	margin-right: 10px;
	float: left;
	padding: 0.8em 0;
}

input, textarea {
	border: 1px solid #ccc;
	padding: 0.8em 1em;
	outline: 0;
	font: 1em Georgia, "Times New Roman", Times, serif;
	width: 300px;
	-webkit-transition: border-color 0.5s;
	-moz-transition: border-color 0.5s;
	-o-transition: border-color 0.5s;
	-ms-transition: border-color 0.5s;
	transition: border-color 0.5s;
	display: block;
	
	-webkit-appearance: none;
	border-radius: 0;
}

input:hover, textarea:hover {
	border-color: #aaa;
	
}

input:focus, textarea:focus {
	border-color: #666;
}

input[type=submit] {
	background-color: #ccc;
	color: #fff;
	margin-left: 110px;
	border: 0;
	cursor: pointer;
	width: 330px;
	-webkit-transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
	-ms-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

input[type=submit]:hover {
	background-color: #666;
}

input[type=submit]:active {
	background-color: #333;
}

/* @end */


/* @group Fancy Box */

.fancybox-overlay {
	background-image: none;
	background-color: #fff;
}

.fancybox-skin {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background-color: transparent;
	padding: 60px !important;
}

.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
}

.fancybox-close, .fancybox-prev span, .fancybox-next span {
	background: url("icn-lightbox.png")/*tpa=http://www.lanthimos.com/assets/img/icn-lightbox.png*/ no-repeat;
	width: 40px;
	height: 40px;
}

.fancybox-close {
	background-position: 0 0;
	top: 10px;
	right: 10px;
	position: absolute;
	background-image: none;
}

.fancybox-wrap:hover .fancybox-close {
	background: url("icn-lightbox.png")/*tpa=http://www.lanthimos.com/assets/img/icn-lightbox.png*/ no-repeat;
}

.fancybox-wrap:hover .fancybox-close:hover {
	background-position: -40px 0;
}

.fancybox-prev {
	width: 50%;
	left: -60px;
}

.fancybox-wrap:hover .fancybox-prev span {
	visibility: visible;
	background-position: 0 -80px;
}

.fancybox-wrap:hover .fancybox-prev:hover span {
	background-position: -40px -80px;
}


.fancybox-next {
	width: 50%;
	right: -60px;
}


.leftf {
    float: left;
}
.rightf {
    margin-left: 480px;
    height: 300px;
}


.fancybox-wrap:hover .fancybox-next span {
	visibility: visible;
	background-position: 0 -40px;
}

.fancybox-wrap:hover .fancybox-next:hover span {
	background-position: -40px -40px;
}

/* @end */

@media screen and (max-width:840px) {

	.media {
		width: 27.333%;
		margin-right: 3%;
		margin-left: 3%;
	}

}




@media screen and (max-width:760px) {
	#title {
		float: none;
		text-align: center;
		margin-bottom: 1em;
	}
	
	#nav {
		float: none;
		text-align: center;
	}
	
	.inset {
		width: auto;
	}
	
	label {
		float: none;
		margin: auto;
		text-align: center;
		width: auto;
	}
	
	input, textarea {
		margin: auto;
	}
	
	input[type=submit] {
		margin: 2em auto auto;
	}
	
	
	#footer p {
		line-height: 1.6em;
		text-align: center;
	}
	
}

@media screen and (max-width:480px) {

	#header {
		margin: 0 auto;
		padding: 2em 0;
	}
	
	#hero p {
		text-align: center;
		margin: 2em;
	}
	
	.inset {
		margin: 0 1em;
	}
	
	.feature .film-title {
		margin-top: 2em;
		margin-bottom: 1em;
	}
	
	.feature .film-title {
		margin-top: 0;
	}	
	
	.media-gallery {
		margin: 0;
	}
		
	.media {
		float: none;
		width: auto;
		clear: both;
		margin-right: 0;
		margin-left: 0;
	}
	
	.media img {
		width: 40%;
		float: left;
		margin-right: 20px;
	}
	
	.media h1 {
		padding-top: 10px;
	}
	
	input, textarea, input[type=submit] {
		width: 100%;
		padding-left: 0;
		text-align: center;
		padding-right: 0;
	}
	
	textarea {
		text-align: left;
	}

}
